<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primihub.biz.repository.primarydb.scd.ScdCertificateRepository">
    <resultMap type="com.primihub.biz.entity.scd.po.ScdCertificate" id="ScdCertificateResult">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="tempId" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="pri_key" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="certificate" column="certificate" jdbcType="BLOB"/>
        <result property="attrs" column="attrs" jdbcType="BLOB"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="certPath" column="cert_path" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="saveCertificate" parameterType="com.primihub.biz.entity.scd.po.ScdCertificate">
        insert into scd_certificate (name,temp_id,user_id,attrs,status,create_date,update_date)
        values (#{name},#{tempId},#{userId},#{attrs},#{status},now(),now())
    </insert>
    <select id="listCertificates" resultMap="ScdCertificateResult">
        select
        id,name,temp_id,user_id,certificate,status,cert_path,create_date,update_date
        from scd_certificate
    </select>
    <select id="queryCertificate" resultMap="ScdCertificateResult">
        select
        id,name,temp_id,user_id,certificate,status,cert_path,create_date,update_date
        from scd_certificate
        where id = #{id}
    </select>
    <update id="updateCertificate" parameterType="com.primihub.biz.entity.scd.po.ScdCertificate">
        update scd_certificate
        <set>
            <if test="certificate!=null">certificate = #{certificate},</if>
            <if test="status!=null">status = #{status},</if>
            <if test="certPath!=null">cert_path = #{tempPath},</if>
            update_date = now()
        </set>
        where id = #{id}
    </update>
</mapper>