<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primihub.biz.repository.primarydb.scd.ScdTemplateRepository">
    <resultMap type="com.primihub.biz.entity.scd.po.ScdTemplate" id="ScdTemplateResult">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="attrs" column="attrs" jdbcType="BLOB"/>
        <result property="certificate" column="certificate" jdbcType="BLOB"/>
        <result property="priKey" column="pri_key" jdbcType="BLOB"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="tempPath" column="temp_path" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="saveTemplate" useGeneratedKeys="true" keyProperty="id" parameterType="com.primihub.biz.entity.scd.po.ScdTemplate">
        insert into scd_template (name,attrs,status,create_date,update_date)
        values (#{name},#{attrs},#{status},now(),now())
    </insert>
    <update id="updateTemplate" parameterType="com.primihub.biz.entity.scd.po.ScdTemplate">
        update scd_template
        <set>
            <if test="certificate!=null">certificate = #{certificate},</if>
            <if test="priKey!=null">pri_key = #{priKey},</if>
            <if test="status!=null">status = #{status},</if>
            <if test="tempPath!=null">temp_path = #{tempPath},</if>
            update_date = now()
        </set>
        where id = #{id}
    </update>
    <select id="queryTemplate" resultMap="ScdTemplateResult">
        select
        id,name,attrs,certificate,pri_key,status,temp_path,create_date,update_date
        from scd_template
        where id = #{id}
    </select>
    <select id="listTemplates" resultMap="ScdTemplateResult">
        select
        id,name,attrs,certificate,pri_key,status,temp_path,create_date,update_date
        from scd_template
    </select>
</mapper>