<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primihub.biz.repository.primarydb.abe.AbeUserKeyRepository">
    <resultMap type="com.primihub.biz.entity.abe.po.AbeUserKey" id="AbeUserKeyResult">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="projectId" column="project_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="attrs" column="attrs" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="sk" column="sk" jdbcType="BLOB"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="saveUserKey" useGeneratedKeys="true" keyProperty="id" parameterType="com.primihub.biz.entity.abe.po.AbeUserKey">
        insert into cp_abe_user_key (project_id,user_id,attrs,status,create_date,update_date)
        values (#{projectId},#{userId},#{attrs},#{status},now(),now())
    </insert>
    <select id="listUserKeys" resultMap="AbeUserKeyResult">
        select
        *
        from cp_abe_user_key
    </select>
    <select id="queryUserKey" resultMap="AbeUserKeyResult">
        select
        *
        from cp_abe_user_key
        where id = #{id}
    </select>
    <update id="updateUserKey" parameterType="com.primihub.biz.entity.abe.po.AbeUserKey">
        update cp_abe_user_key
        <set>
            <if test="sk!=null">sk = #{sk},</if>
            <if test="status!=null">status = #{status},</if>
            <if test="path!=null">path = #{path},</if>
            update_date = now()
        </set>
        where id = #{id}
    </update>
</mapper>